<div style="margin-top: 15px; margin-bottom: 15px;">
  <%= link_to new_customer_path do %>
    <button class="btn btn-success">Upload</button>
  <% end %>
  <div class="col-md-4 pull-right" style="padding-right: 0;">
    <%= form_tag root_path, method: 'get' do %>
      <%= text_field_tag :search, session[:search], class: "form-control", placeholder: "Search" %>
    <% end %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <% for key in ['First Name', 'Last Name', 'Address', 'City', 'State', 'Zip Code'] %>
      <th>
        <%= render partial: 'header', locals: { key: key } %>
      </th>
    <% end %>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip_code %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customers %>
